<div class="container-fluid about-background">
	
	<!-- header -->
	<h1 class="about-title">Meet the Team behind 
		<img src="styles/styleImgs/logo.png" alt="HueMe logo">
	</h1>
	
	<!-- Tony -->
	<div class="row">
		<div class="col-xs-0 col-sm-2"></div>
		<div class="col-xs-4 col-sm-2">
			<img src="styles/styleImgs/avatartony.png" alt="Tony Abraham" class="about-float-right">
		</div>
		<div class="col-sm-5 about-view-left">
			<span class="about-team-title">Analyst of Analysts</span>
			<span class="about-team-name">Antonios &quot;Tony&quot; Abraham</span>
			<span class="about-team-quote">
				<i class="fa fa-quote-left fa-2x fa-pull-left fa-flip-vertical"></i>
				{{some.quotes}}
				<!-- test text -->
				Ut non ground round rump. Turducken ground round veniam jowl fugiat hamburger porchetta. Alcatra cow meatloaf &hellip;
			</span>
			<span class="about-team-link">
				<a href="https://www.linkedin.com/in/tony-abraham-canada-20706837" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
				<a href="https://bitbucket.org/infiniteloop82/portfolio/src" target="_blank"><i class="fa fa-bitbucket-square fa-2x"></i></a>
			</span>
		</div>
	</div>
	
	<!-- Igor -->
	<div class="row">
		<div class="col-xs-0 col-sm-3"></div>
		<div class="col-xs-8 col-sm-5 about-view-right about-align-right">
			<span class="about-team-title">Half man half Machine</span>
			<span class="about-team-name">Igor Romanenko</span>
			<span class="about-team-quote">
				{{some.quotes}} <i class="fa fa-quote-left fa-2x fa-pull-right fa-flip-vertical"></i>
				<!-- test text -->
				Ut non ground round rump. Turducken ground round veniam jowl fugiat hamburger porchetta. Alcatra cow meatloaf &hellip;
			</span>
			<span class="about-team-link">
				<a href="https://www.linkedin.com/in/igor-romanenko-b259584a" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
				<a href="https://github.com/pushnoy100500/" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
			</span>
		</div>
		<div class="col-xs-4 col-sm-2">
			<img src="styles/styleImgs/avatarigor.png" class="about-float-left" alt="Igor Romanenko">
		</div>
	</div>
	
	<!-- Emily -->
	<div class="row">
		<div class="col-xs-0 col-sm-2"></div>
		<div class="col-xs-4 col-sm-2">
			<img src="styles/styleImgs/avataremily.png" alt="Emily You" class="about-float-right">
		</div>
		<div class="col-sm-5 about-view-left">
			<span class="about-team-title">Empress of AngularJS</span>
			<span class="about-team-name">Emily You</span>
			<span class="about-team-quote">
				<i class="fa fa-quote-left fa-2x fa-pull-left fa-flip-vertical"></i>
				{{some.quotes}}
				<!-- test text -->
				Ut non ground round rump. Turducken ground round veniam jowl fugiat hamburger porchetta. Alcatra cow meatloaf &hellip;
			</span>
			<span class="about-team-link">
				<a href="http://emilyyou.com" target="_blank"><i class="fa fa-home fa-2x"></i></a>
				<a href="https://www.linkedin.com/in/emilyyou" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
			</span>
		</div>
	</div>
	
	<!-- Josh -->
	<div class="row">
		<div class="col-xs-0 col-sm-3"></div>
		<div class="col-xs-8 col-sm-5 about-view-right about-align-right">
			<span class="about-team-title">Angular Embassador &brvbar; Duke of Design</span>
			<span class="about-team-name">Joshua Bruce</span>
			<span class="about-team-quote">
				<i class="fa fa-quote-left fa-2x fa-pull-right fa-flip-vertical"></i>
				{{some.quotes}}
				<!-- test text -->
				Ut non ground round rump. Turducken ground round veniam jowl fugiat hamburger porchetta. Alcatra cow meatloaf &hellip;
			</span>
			<span class="about-team-link">
				<a href="https://www.linkedin.com/in/josh-bruce-7b3473110" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
				<a href="https://github.com/jjbruce" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
			</span>
		</div>
		<div class="col-xs-4 col-sm-2">
			<img src="styles/styleImgs/avatarjosh.png" class="about-float-left" alt="Igor Romanenko">
		</div>
	</div>
	
	<!-- Ryo -->
	<div class="row">
		<div class="col-xs-0 col-sm-2"></div>
		<div class="col-xs-4 col-sm-2">
			<img src="styles/styleImgs/avatarryo.png" alt="Ryo Tsune" class="about-float-right">
		</div>
		<div class="col-sm-5 about-view-left">
			<span class="about-team-title">Dutchess of Design</span>
			<span class="about-team-name">Ryo Tsune</span>
			<span class="about-team-quote">
				<i class="fa fa-quote-left fa-2x fa-pull-left fa-flip-vertical"></i>
				{{some.quotes}}
				<!-- test text -->
				Ut non ground round rump. Turducken ground round veniam jowl fugiat hamburger porchetta. Alcatra cow meatloaf &hellip;
			</span>
			<span class="about-team-link">
				<a href="http://sereneryo.com" target="_blank"><i class="fa fa-home fa-2x"></i></a>
				<a href="https://www.linkedin.com/in/ryoko-tsune-8232b312" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
				<a href="https://twitter.com/Sereneryo/" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
				
			</span>
		</div>
	</div>
	
	<!-- words words words -->
	<div class="row">
		<img src="styles/styleImgs/cityscape.png" class="about-city">
		<div class="about-blurb">
			<h1 class="about-subtitle">The World of HueMe</h1>
			<p>The chance to view a world of disconnect as an opportunity is at your fingertips.  
				The world of HueMe combines colour theory and compassion.  To use the words of 
				Dr Amanda Pike of the Florida Art Therapy Association: “Colour has a profound effect 
				on our lives.  Colour is a fundamental aspect of human perception, and it influences 
				cognition and mood”.  Through anonimity, individuals can feel a sense of privacy and 
				safety.  These pathways also encourage expression without censure, but nurture 
				respect.  A community is waiting to hear about your day.</p>
		</div>
	</div>
	
	<div class="footer footer-relative-fix">
		<img src="styles/styleImgs/copyright.png">
	</div>
	
</div> <!-- end container div -->