<a ui-sref="landing">
	<div class="custom-modal-backdrop"></div>
</a>
<div class="container custom-modal">
	<div class="modal-header">
		<a ui-sref="landing">
			<button type="button" class="close" aria-hidden="true"><i class="fa fa-times"></i></button>
		</a>
		<h2 class="modal-title">Login</h2>
		{{ loginCtrl.formModel }}
	</div>
	<form ng-submit="loginCtrl.login(loginCtrl.formModel)" novalidate="novalidate">
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
				<input ng-model="loginCtrl.formModel.username" type="text" class="form-control" id="email" name="username" placeholder="Username"/>
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
				<input ng-model="loginCtrl.formModel.password" type="password" class="form-control" id="password" name="password" required autocomplete="off" placeholder="Password"/>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary btn-block" type="submit" style="margin: 10px 0 20px 0">Login</button>
			<a ui-sref="landing">
				<button class="btn btn-default btn-block">Cancel</button>
			</a>
		</div>

	</form>

</div>
